<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"  />
<head>
    <title th:text="#{app.title}"> Title </title>
    <link  type="text/css" rel="stylesheet" th:href="@{bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function() {
                $("#locales").change(function () {
                    var selectedOption = $('#locales').val();
                    if (selectedOption != ''){
                        window.location.replace('international?lang=' + selectedOption);
                        $('#'+selectedOption).hide();

                    }
                });
            });
     </script>


</head>
<body>
    <div th:replace="header :: header">&nbsp;</div>
        <div  class="with:80%" style="height:90%" >
            <h1 th:text="#{greeting}"></h1>
        </div>
    <div th:replace="footer :: footer">&nbsp;</div>
</body>
</html>